html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdeaff;
}

.menu {
    color: #ac0fac;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    background: radial-gradient(circle, rgba(211, 180, 250, 1) 0%, hsl(318, 100%, 89%) 100%);
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 120px;
    height: auto;
}

.menu a {
    color: #ac0fac;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 100px 20px 40px;
    box-sizing: border-box;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 40px;
    justify-items: center;
}

.card {
    background-color: #fff1e6;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: auto;
}

.card img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #4a2b20;
    margin: 0;
}

footer {
    background: radial-gradient(circle, hsl(318, 100%, 89%) 0%, rgba(211, 180, 250, 1) 100%);
    color: #ac0fac;
    padding: 20px 10px;
    border: 90px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    width: 100%;
    margin-top: auto;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}